@import "tailwindcss";

html,
body {
  height: 100%;
  overflow: hidden;
}

/* Hide scrollbars but keep scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
